
.Vit-logo {

  height: 65px;
  width: 65px;
  border-radius:100%;
  margin-top: 3px!important;
  margin-bottom: 5px!important;
  margin-left: 150px;
}

.Iot-logo {
    height: 65px;
    width: 65px;
    border-radius:100%;
    margin-right: 2px!important;
    margin: 5px;
   
  }
  .Header-flex{
    display: flex;
    /* background-color: #9ac3ff!important; */
    /* background-image: url("https://64.media.tumblr.com/4226664ca7ce52d9f092319c405d7779/tumblr_nhocgfubYc1rat0tqo1_540.gifv"); */
    background-image: url("https://media1.giphy.com/media/phmojyyfS3GbZ1juxd/giphy.gif?cid=ecf05e47mzu6zrvvnvq4gbyzbf2wgpnyax21nzv8e96g1xzu&ep=v1_gifs_related&rid=giphy.gif&ct=g");
    margin-top: 1px;
    border-color: white;
    background-size: cover;
    
  } 

  

  .menu-button{
    height: 30px!important;
    margin: 20px!important;
  }
.Iot-txt{
  margin: 5px;
  margin-top: 25px;
}
.vishnu-txt{
  margin-left:25vh;
}
.Vit-txt{
  margin: 5px;
  margin-top: 25px;
  margin-left: 155px!important;
}  




